html, body{
padding: 0;
margin: 0;
}
html{
height: 100%;
}
body{
min-height: 100%;
}
h1 {
  color: #02acad;
  font-family:'avenir';
}
p.normal {
  color: black;
  font-family: 'avenir';
}
h2 {
  color:#ab6800;
  font-family:'helvetica'
}
a, h2 {  height: 40px
  text-decoration: underline;
}
#headerContent {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#bodyContent {
  width: 100%;
  height: 100%;
}
video {
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
}
.greydout {
-webkit-opacity: 0.75;
-moz-opacity: 0.75;
opacity: 0.75;
-webkit-transition: all 3s ease;
-moz-transition: all 3s ease;
-ms-transition: all 3s ease;
-o-transition: all 3s ease;
transition: all 3s ease;
}
:hover
pseudo-class:.greydout:hover {
-webkit-opacity: 1;
-moz-opacity: 1;
opacity: 1;
}

.container{
  background-color: #f9f9f9;
}

h5{
color: #f9f9f9;
}
.card-title {
  color:  #f9f9f9;
}
.a {
    color: #2aa2a2;
}
